---
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body>

    <main class="page-content" aria-label="Content">
      <div class="wrapper">
        
        <div class="home">
          {%- if page.title -%}
            <h1 class="page-heading">{{ page.title }}</h1>
          {%- endif -%}


          {{ content }}

          {% include image-gallery.html folder="/uploads/album" %}

        </div>

      </div>
    </main>

    {%- include customfooter.html -%}

<script type="text/javascript" src="{{ "/" | relative_url }}js/lightbox.js"></script>
<link rel="stylesheet" href="{{ "/" | relative_url }}css/lightbox.css">  
</body>
</html>
